:root {
  /* hero footer bacground */
  --bacground-hero: #2f303a;
  --white: #ffffff;
  --txt-title-color: #212121;
  --txt-description: #757575;
  --logo-color: #2196f3;
  --tem-section: #f5f4fa;
  --border-color: #ececec;
  --border-button-color: #eeeeee;
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --link-ikon: #afb1b8;
  --title-background: rgba(47, 48, 58, 0.8);
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  margin-left: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo-nav {
  display: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.flex-container {
  display: flex;
}

.list-details-descr {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.teem-descr {
  color: var(--txt-description);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
}

.list-descr-program {
  color: var(--txt-description);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin-top: 4px;
  display: inline-block;
}

.list-img-decsr {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: var(--txt-title-color);
  margin: 0;
}

.button-position {
  text-align: center;
}

.hero-button {
  width: 200px;
  min-height: 50px;
  display: inline-block;
  background-color: var(--logo-color);
  font-weight: 700px;
  cursor: pointer;
  border-radius: 4px;
  color: var(--white);
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.hero-button:focus, .hero-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-portfolio {
  margin-bottom: 20px;
}

.button-portfolio-style {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: end;
}

.button-list:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.button-list {
  margin-right: 8px;
  list-style-type: none;
  background-color: var(--tem-section);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list:hover, .button-list:focus {
  background-color: var(--logo-color);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  min-height: 38px;
  background-color: var(--tem-section);
  border-color: var(--tem-section);
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--txt-title-color);
}

@media screen and (min-width: 767px) {
  .button-portfolio-style {
    justify-content: center;
  }
}

.title-details {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin: 0;
  color: var(--txt-title-color);
  margin-bottom: 10px;
}

.what-we-do-title {
  width: 376px;
  height: 42px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin: auto;
  color: var(--txt-title-color);
}

.img-title-what {
  position: absolute;
  bottom: 0;
  min-height: 70px;
  margin: 0;
  width: 100%;
  background-color: var(--title-background);
  color: var(--white);
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.teem-title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--txt-title-color);
  margin-top: 0;
  margin-bottom: 30px;
}

.burger-menu-item {
  width: 16px;
  height: 16px;
}

.button-burger {
  border: none;
  background-color: transparent;
}

.logo {
  width: 134px;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--txt-title-color);
  text-decoration: none;
  font-family: var(--logo-font);
  padding-bottom: 16px;
  padding-top: 16px;
  cursor: pointer;
}

.logo-color {
  color: var(--logo-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

header {
  background-color: var(--white);
  display: flex;
}

.webstudio {
  border: none;
}

.navigation {
  margin: 0;
  display: none;
  list-style-type: none;
  padding-left: 0;
}

.list-anchor {
  margin-left: 50px;
  height: 16px;
}

.nav-anchor {
  display: block;
  color: var(--txt-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 80px;
}

.nav-anchor:hover,
.nav-anchor:focus {
  color: var(--txt-title-color);
  color: var(--logo-color);
}

.nav-active-anchor {
  color: var(--logo-color);
}

.nav-active-anchor::after {
  width: 48px;
  height: 4px;
  display: block;
  background-color: #2196f3;
  border-radius: 2px;
  content: "";
  margin-top: 31px;
}

.contacts {
  display: none;
  list-style-type: none;
  margin-left: auto;
  padding-left: 0;
  align-items: baseline;
}

.conctacts-link {
  color: var(--txt-description);
  text-decoration: none;
  font-weight: 500px;
  margin-top: 0px;
  align-items: baseline;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conctacts-link-item {
  margin-left: 0px;
}

.conctacts-link-item:last-child {
  margin-left: 50px;
}

.conctacts-link:hover,
.conctacts-link:focus {
  color: var(--txt-description);
  color: var(--logo-color);
}

.conctacts-link:hover > .list-contact-icon {
  fill: var(--logo-color);
}

.nav-active-anchor-portfolio {
  color: var(--logo-color);
}

.nav-active-anchor-portfolio::after {
  display: block;
  width: 78px;
  height: 4px;
  content: "";
  border-radius: 2px;
  background-color: var(--logo-color);
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
}

.phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.maill {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

@media screen and (min-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0 0 0 auto;
    padding-left: 0;
    align-items: baseline;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .conctacts-link-item {
    margin: 0%;
    display: block;
  }
  .conctacts-link-item:last-child {
    margin-left: 0;
  }
  .navigation {
    display: flex;
  }
  .button-burger {
    display: none;
  }
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .conctacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.02em;
  }
}

/* section hero  */
.section-my-hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  height: 400px;
  padding-bottom: 118px;
  padding-top: 118px;
  background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../img/hero-img-mobile.png");
  background-size: cover;
}

.section-my-herocontainer {
  padding: 0;
}

.hero-descr {
  margin-right: auto;
  margin-left: auto;
  color: var(--white);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section-my-hero {
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../img/hero-tablet.png");
    max-width: 768px;
  }
  .hero-descr {
    max-width: 695px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

/* SECTION DESCR */
.section-descr {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--white);
}

.list-details-descr {
  display: block;
  padding-left: 0;
  margin: 0;
}

.list-text {
  list-style-type: none;
}

.list-text:last-child {
  margin-right: 0;
}

.text-compani {
  margin-bottom: 0;
  margin: 0;
  color: var(--txt-description);
}

.vector-img {
  width: 65px;
  height: 70px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

.descr-text-img {
  max-width: 450px;
  height: 120px;
  align-items: center;
  background-color: var(--tem-section);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.text-compani {
  margin-bottom: 0;
  margin: 0;
  color: var(--txt-description);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
}

@media screen and (min-width: 767px) {
  .descr-text-img {
    width: 354px;
  }
  .list-text {
    width: 354px;
    margin-right: 30px;
  }
  .list-text:nth-child(2n) {
    margin-right: 0;
  }
  .list-details-descr {
    display: flex;
    flex-wrap: wrap;
  }
}

/* section what we do */
.section-what-wee-do {
  padding-bottom: 94px;
  display: none;
}

.what-we-do {
  background-color: var(--white);
}

.what-we-do-img-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}

.content-photo {
  margin-right: 30px;
}

.content-photo:last-child {
  margin-right: 0;
}

.what-wee-do-container {
  position: relative;
}

.teem-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--txt-title-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.teem-name-position {
  padding-top: 30px;
  padding-bottom: 16px;
  padding-right: 30px;
  padding-left: 30px;
}

.teem-list {
  display: block;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.teem-photo-list {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
}

.teem-list :last-child {
  margin-right: 0;
}

.teem-link {
  display: flex;
  list-style-type: none;
  margin-top: 16px;
  padding-left: 0;
  justify-content: center;
}

.icon-teem-social {
  width: 20px;
  height: 20px;
}

.item-link-list {
  margin-right: 10px;
  align-items: center;
}

.link-item {
  display: flex;
  text-align: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  fill: var(--link-ikon);
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item:hover,
.link-item:focus {
  background-color: var(--logo-color);
  fill: var(--white);
}

.teem {
  background-color: var(--tem-section);
  align-items: center;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 767px) {
  .teem-list {
    display: flex;
    flex-wrap: wrap;
  }
  .teem-photo-list {
    width: 354px;
  }
  .teem-photo-list:nth-child(odd) {
    margin-right: 30px;
  }
  .teem-name-position {
    padding-bottom: 24px;
  }
}

/* footer */
.footer-studio {
  margin-top: 0;
  display: flex;
  background-color: var(--bacground-hero);
  max-width: 1600px;
  margin-left: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--white);
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 20px;
}

.footer-style {
  display: block;
  flex-direction: column;
  text-align: center;
}

.footer-contact {
  margin-left: 0;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-contact-list-item {
  margin-top: 9px;
}

.footer-contact {
  color: var(--txt-description);
}

.contact-adres {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-studio.container {
  display: block;
  align-items: baseline;
}

.footer-social-link {
  margin-top: 60px;
  box-sizing: border-box;
  text-align: center;
}

.social-list {
  display: flex;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
  align-items: center;
  justify-content: center;
}

.footer-social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-item:hover, .footer-social-link-item:focus {
  background-color: var(--logo-color);
  fill: var(--white);
}

.vector-footer-img {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.footer-social-title {
  margin: 0;
  color: var(--white);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-contact-list-social {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

.title-footer-form {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.footer-form-item {
  min-width: 290px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 15px;
  outline: none;
  margin: auto;
  display: block;
}

@media screen and (min-width: 479px) {
  .footer-form-item {
    width: 450px;
  }
}

.button-form-footer {
  width: 200px;
  height: 50px;
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--white);
  border: none;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.icon-icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer-form {
  display: block;
}

.second-form {
  margin-top: 60px;
}

.link-footer {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 767px) {
  .footer-studio {
    width: 100%;
  }
}

.my-client {
  background-color: var(--white);
  padding-bottom: 60px;
  padding-top: 60px;
}

.client-title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}

.my-client-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
  margin: 0;
}

.my-client-item {
  width: 210px;
  height: 90px;
  border: 1px solid var(--link-ikon);
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 479px) {
  .my-client-item:nth-child(odd) {
    margin-right: 30px;
  }
}

.my-client-item:last-child {
  margin-right: 0;
}

.client-vector-img {
  box-sizing: border-box;
  fill: var(--link-ikon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-item-link {
  width: 100%;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logo-item-link:hover .client-vector-img {
  fill: var(--logo-color);
}

.logo-item-link:focus .client-vector-img {
  border-color: var(--logo-color);
  fill: var(--logo-color);
}

.my-client-item:hover,
.my-client-item:focus {
  border-color: var(--logo-color);
  fill: var(--logo-color);
}

/* LOGO SIZE */
.logo-compani-first {
  width: 44px;
  height: 49px;
}

.logo-compani-second {
  width: 40px;
  height: 52px;
}

.logo-compani-third {
  width: 41px;
  height: 42px;
}

.logo-compani-fourth {
  width: 79px;
  height: 42px;
}

.logo-compani-fifth {
  width: 59px;
  height: 47px;
}

.logo-compani-sixth {
  width: 88px;
  height: 45px;
}

@media screen and (min-width: 767px) {
  .my-client-item {
    margin-right: 30px;
  }
  .my-client-item:nth-child(3n) {
    margin-right: 0;
  }
}

/* footer */
.footer-studio {
  margin-top: 0;
  display: flex;
  background-color: var(--bacground-hero);
  max-width: 1600px;
  margin-left: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--white);
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 20px;
}

.footer-style {
  display: block;
  flex-direction: column;
  text-align: center;
}

.footer-contact {
  margin-left: 0;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-contact-list-item {
  margin-top: 9px;
}

.footer-contact {
  color: var(--txt-description);
}

.contact-adres {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-studio.container {
  display: block;
  align-items: baseline;
}

.footer-social-link {
  margin-top: 60px;
  box-sizing: border-box;
  text-align: center;
}

.social-list {
  display: flex;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
  align-items: center;
  justify-content: center;
}

.footer-social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-item:hover, .footer-social-link-item:focus {
  background-color: var(--logo-color);
  fill: var(--white);
}

.vector-footer-img {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.footer-social-title {
  margin: 0;
  color: var(--white);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-contact-list-social {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

.title-footer-form {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.footer-form-item {
  min-width: 290px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 15px;
  outline: none;
  margin: auto;
  display: block;
}

@media screen and (min-width: 479px) {
  .footer-form-item {
    width: 450px;
  }
}

.button-form-footer {
  width: 200px;
  height: 50px;
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--white);
  border: none;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.icon-icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer-form {
  display: block;
}

.second-form {
  margin-top: 60px;
}

.link-footer {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 767px) {
  .footer-studio {
    width: 100%;
  }
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 479px) {
  .modal {
    width: 310px;
  }
}

.close-btn-img {
  width: 11px;
  height: 11px;
  fill: var(--txt-title-color);
  align-items: center;
  justify-content: center;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover > .close-btn-img {
  fill: var(--logo-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  flex-wrap: wrap;
}

.form-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--txt-title-color);
  margin-bottom: 12px;
}

label {
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
  color: var(--txt-description);
}

textarea {
  resize: none;
  width: 370px;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

@media screen and (max-width: 479px) {
  textarea {
    width: 230px;
  }
}

.text-form {
  margin: 0;
  margin-bottom: 20px;
}

.img-form {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 15px;
}

.img-form-position {
  position: relative;
}

.polisi-form {
  max-width: 378px;
  height: 14px;
  left: 79px;
  top: 567px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--txt-description);
  margin-bottom: 30px;
}

.polisi-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: underline;
  margin: 0;
}

.button-form {
  min-width: 200px;
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-style: 700;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--white);
  border: none;
  cursor: pointer;
}

.button-form:hover,
.button-form:focus {
  background-color: #188ce8;
}

.form-imput-item {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
}

.form-imput-item:focus + .img-form {
  fill: var(--logo-color);
}

.form-imput-item:focus {
  border-color: var(--logo-color);
}

textarea:focus {
  border-color: var(--logo-color);
}

.polisi-checkbox-item::before {
  content: "";
  border: solid 2px var(--txt-title-color);
  height: 16px;
  width: 16px;
  display: block;
  border-radius: 2px;
}

.portfolio-work {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-map-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px 63px 24px;
  transform: translateY(101%);
  margin: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-descr-list-item {
  position: relative;
  overflow: hidden;
}

.portfolio-descr-list-item:hover .portfolio-map-descr {
  transform: translateY(0);
}

.img-portfolio-list:hover.portfolio-map-descr {
  transform: translateY(0);
}

.portfolio-ul-descr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  box-sizing: border-box;
  align-items: center;
}

.portfolio-descr-position {
  padding-bottom: 20px;
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
}

.img-portfolio-list {
  border: 1px solid var(--border-button-color);
  box-sizing: border-box;
  margin-top: 20px;
  list-style-type: none;
  text-align: left;
  max-width: 450px;
  height: 404px;
}

.img-portfolio-list:first-child {
  margin-top: 0;
}

.img-portfolio-list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-portfolio-list-link {
  width: 100%;
  height: 100%;
  display: block;
}

.portfolio-list-img-adaptive {
  min-height: 100%;
}

@media screen and (min-width: 320px), (max-width: 480px) {
  .portfolio-ul-descr {
    flex-direction: column;
  }
}

@media screen and (min-width: 767px) {
  .portfolio-ul-descr {
    max-width: 738px;
    flex-direction: inherit;
    justify-content: left;
  }
  .img-portfolio-list {
    max-width: 354px;
    margin-top: 30px;
  }
  .img-portfolio-list:nth-child(2) {
    margin-top: 0;
  }
  .img-portfolio-list:nth-child(odd) {
    margin-right: 30px;
  }
}

.modal-heder-mobile {
  max-width: 100%;
  background-color: var(--white);
  height: 100px;
  height: 453px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}

.modal-decoration {
  padding: 60px;
  padding-top: 0;
}

.modal-heder-list {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.contact-modal-list {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.modal-heder-link-item {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--txt-title-color);
  letter-spacing: 0.02em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.conctacts-link-modal {
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--txt-description);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  fill: var(--txt-description);
}

.modal-burger-hed {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
}

.modal-hed-hiden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */