/* SECTION DESCR */

.section-descr {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--white);
}

.list-details-descr {
  display: block;
  padding-left: 0;
  margin: 0;
}

.list-text {
  list-style-type: none;
  &:last-child {
    margin-right: 0;
  }
}

.text-compani {
  margin-bottom: 0;
  margin: 0;
  color: var(--txt-description);
}
.vector-img {
  width: 65px;
  height: 70px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

.descr-text-img {
  max-width: 450px;

  height: 120px;
  align-items: center;
  background-color: var(--tem-section);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}
.text-compani {
  margin-bottom: 0;
  margin: 0;
  color: var(--txt-description);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
}

@media screen and(min-width:767px) {
  .descr-text-img {
    width: 354px;
  }
  .list-text {
    width: 354px;
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
  .list-details-descr {
    display: flex;
    flex-wrap: wrap;
  }
}

// desctop adept
@media screen and(min-width:1199px) {
  .list-details-descr {
    display: flex;
    padding-left: 0;
    margin: 0;
  }

  .list-text {
    width: 270px;

    margin-right: 30px;
    list-style-type: none;
    &:last-child {
      margin-right: 0;
    }
  }

  .text-compani {
    margin-bottom: 0;
    margin: 0;
    color: var(--txt-description);
  }
  .vector-img {
    width: 65px;
    height: 70px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
  }

  .descr-text-img {
    width: 270px;
    height: 120px;
    align-items: center;
    background-color: var(--tem-section);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  .list-text:nth-child(2n) {
    margin-right: 30px;
  }
  .list-text:last-child {
    margin-right: 0;
  }
}
