/* footer */

.footer-studio {
  margin-top: 0;
  display: flex;
  background-color: var(--bacground-hero);
  max-width: 1600px;
  margin-left: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--white);
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 20px;
}

.footer-style {
  display: block;
  flex-direction: column;
  text-align: center;
}

.footer-contact {
  margin-left: 0;
  list-style-type: none;
  padding: 0;
  margin-top: 0;

  margin-bottom: 0;
}

.footer-contact-list-item {
  margin-top: 9px;
}
.footer-contact {
  color: var(--txt-description);
}

.contact-adres {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
}
.footer-studio {
  &.container {
    display: block;
    align-items: baseline;
  }
}

.footer-social-link {
  margin-top: 60px;
  box-sizing: border-box;
  text-align: center;
}

.social-list {
  display: flex;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
  align-items: center;
  justify-content: center;
}

.footer-social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--logo-color);
    fill: var(--white);
  }
}

.vector-footer-img {
  width: 20px;
  height: 20px;
  fill: var(--white);
}
.footer-social-title {
  margin: 0;
  color: var(--white);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-contact-list-social {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}
.title-footer-form {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.footer-form-item {
  min-width: 290px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 15px;
  outline: none;
  margin: auto;
  display: block;
}
@media screen and (min-width: 479px) {
  .footer-form-item {
    width: 450px;
  }
}
.button-form-footer {
  width: 200px;
  height: 50px;
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--white);
  border: none;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.icon-icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer-form {
  display: block;
}

.second-form {
  margin-top: 60px;
}

.link-footer {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and(min-width:767px) {
  .footer-studio {
    width: 100%;
  }
}
