.modal-heder-mobile {
  max-width: 100%;
  background-color: var(--white);
  height: 100px;
  height: 453px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}
.modal-decoration {
  padding: 60px;
  padding-top: 60px;
}
.modal-heder-list {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.contact-modal-list {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.modal-heder-link-item {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--txt-title-color);
  letter-spacing: 0.02em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.conctacts-link-modal {
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--txt-description);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  fill: var(--txt-description);
}

.modal-burger-hed {
  // border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
}

.modal-hed-hiden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, 0%);
  width: 100%;
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms
    cubic-bezier(0.4, 0, 0.2, 1) pointer-events 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-img-heder {
  width: 18px;
  height: 18px;
}

.burger-menu-item-open {
  width: 40px;
  height: 40px;
}

.burger-btn {
  display: flex;
  border: none;
  background-color: transparent;
  outline: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}
.burger-btn:hover .burger-menu-item-open {
  fill: #2196f3;
}

.mobile-menu {
  justify-content: space-between;
}

.heder-modal-hed {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.modal-heder-btn-close {
  background-color: transparent;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: visible;
}

.modal-heder-active-link::after {
  content: "";
  width: 61px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--logo-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}
.modal-heder-active-link-portfolio {
  color: var(--logo-color);
}
.modal-heder-active-link {
  color: var(--logo-color);
}

.modal-heder-active-link-portfolio::after {
  content: "";
  width: 80px;
  height: 4px;
  border-radius: 2px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: var(--logo-color);
}

@media screen and(min-width:767px) {
  .burger-menu-item-open {
    display: none;
  }
}
