.my-client {
  background-color: var(--white);
  padding-bottom: 60px;
  padding-top: 60px;
}

.client-title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}
.my-client-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
  margin: 0;
}

.my-client-item {
  width: 210px;
  height: 90px;
  border: 1px solid var(--link-ikon);
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:nth-child(odd) {
    margin-right: 30px;
  }
  &:nth-child(-n + 1) {
    margin-bottom: 0;
  }
}

.my-client-item:last-child {
  margin-right: 0;
}

.client-vector-img {
  box-sizing: border-box;
  fill: var(--link-ikon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-item-link {
  width: 100%;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logo-item-link:hover .client-vector-img {
  fill: var(--logo-color);
}

.logo-item-link:focus .client-vector-img {
  border-color: var(--logo-color);
  fill: var(--logo-color);
}

.my-client-item:hover,
.my-client-item:focus {
  border-color: var(--logo-color);
  fill: var(--logo-color);
}

/* LOGO SIZE */

.logo-compani-first {
  width: 44px;
  height: 49px;
}

.logo-compani-second {
  width: 40px;
  height: 52px;
}

.logo-compani-third {
  width: 41px;
  height: 42px;
}

.logo-compani-fourth {
  width: 79px;
  height: 42px;
}

.logo-compani-fifth {
  width: 59px;
  height: 47px;
}

.logo-compani-sixth {
  width: 88px;
  height: 45px;
}
