/* section hero  */

.section-my-hero {
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    max-width: 1600px;
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: linear-gradient(
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url("../img/hero-baner.png");
    background-size: cover;
  }