/* section hero  */

.section-my-hero {
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    height: 400px;
    padding-bottom: 118px;
    padding-top: 118px;
    background-image: linear-gradient(
        var(--hero-gradient-color),
        var(--hero-gradient-color)
      ),
      url("../img/hero-img-mobile.png");
    background-size: cover;
    &container{
      padding: 0;
    }
  }