.button-position {
  text-align: center;
}

.hero-button {
  width: 200px;
  min-height: 50px;
  display: inline-block;
  background-color: var(--logo-color);
  font-weight: 700px;
  cursor: pointer;

  border-radius: 4px;
  color: var(--white);
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  &:focus,
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.button-portfolio {
  margin-bottom: 20px;
}

.button-portfolio-style {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: end;
}

.button-list:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.button-list {
  margin-right: 8px;
  list-style-type: none;
  background-color: var(--tem-section);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--logo-color);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  & {
    padding: 6px 22px 6px 22px;

    border-radius: 4px;
    min-height: 38px;
    background-color: var(--tem-section);
    border-color: var(--tem-section);
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--txt-title-color);
  }
}
