.list-details-descr {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.teem-descr {
  color: var(--txt-description);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
}

.list-descr-program {
  color: var(--txt-description);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin-top: 4px;

  display: inline-block;
}

.list-img-decsr {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: var(--txt-title-color);
  margin: 0;
}
