body {
  font-family: "Roboto", sans-serif;
  margin-left: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.logo-nav {
  display: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}
