:root {
  /* hero footer bacground */
  --bacground-hero: #2f303a;
  --white: #ffffff;
  --txt-title-color: #212121;
  --txt-description: #757575;
  --logo-color: #2196f3;
  --tem-section: #f5f4fa;
  --border-color: #ececec;
  --border-button-color: #eeeeee;
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --link-ikon: #afb1b8;
  --title-background: rgba(47, 48, 58, 0.8);

  font-family: "Raleway", sans-serif;

  font-family: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}
